@media only screen and (max-width: 992px) and (max-height: 1600px) {
  .nft__title {
    font-size: 0.8rem !important;
  }

  .creator__info h6 {
    font-size: 0.6rem !important;
  }

  .creator__info p {
    font-size: 0.7rem !important;
  }

  .bid__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 90%;
    max-width: 200px;
    margin: 0 auto;
  }

  .link {
    text-decoration: none;
  }
  
  .link.bid__btn {
    text-decoration: none;
  }

  
  .history__link a {
    font-size: 0.6rem !important;
  }
}
